<%= form_for @team, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mascot, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :mascot, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :city, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :city, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :state, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :state, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :wins, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :wins, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :loses, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :loses, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :url, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :url, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nickname, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :nickname, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  teams_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
