<h1>Listing results</h1>

<table>
  <thead>
    <tr>
      <th>Wins</th>
      <th>Loses</th>
      <th>Tiebreak score</th>
      <th>Week</th>
      <th>Season</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.wins %></td>
        <td><%= result.loses %></td>
        <td><%= result.tiebreak_score %></td>
        <td><%= result.week %></td>
        <td><%= result.season %></td>
        <td><%= result.user %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
